.botao{
    display: inline-block;
    background: linear-gradient( #ffbf00, #f2a50c);
    color: var(--cor-p5);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.33;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

.botao:hover{
    background: linear-gradient(#ffb60d, #e59317);
}

@media(max-width:600px){
    .botao{
        padding: 12px 16px;
        font-size: 1rem;
    }

}
