.introducao-bg{
    background-color: var(--cor-11);
    box-shadow: inset 0px -120px var(--cor-0);
    
}
.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    max-width: 1200px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    gap: 0 40px;
}

.introducao-conteudo{
align-self: end;
padding-bottom: 200px;

}

.introducao img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.introducao h1{
    margin-bottom: 32px;
    
}





.introducao p{
    margin-bottom: 20px;
    
}




@media(max-width: 800px){
    .introducao-bg{
        background-color: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px #fff ;
    }
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }

    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
     
    }

    .introducao-conteudo{
        padding: 0px;
    }

    .introducao img{
        height: 300px;
        width: 100%;
    }
}