.seguro-vantagens-bg{
    background-color: var(--cor-12);
}

.seguro-vantagens-lista{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px;
}

.seguro-vantagens-conteudo h2{
   margin-bottom: 80px;
}

.seguro-vantagens-conteudo{
    padding-top: 100px;
    padding-bottom:100px;
}

@media(max-width:800px){
    .seguro-vantagens-conteudo{
        padding-top: 60px;
        padding-bottom: 60px;
    }
  
}

.seguros-perguntas {
    padding-top: 100px;
    padding-bottom: 100px;
}

.seguros-perguntas p{
    max-width: 80ch;
}

.seguros-perguntas h2{
    margin-bottom: 40px;
}
.seguros-perguntas-lista li{
padding: 20px 20px 20px 20px;
}
.seguros-perguntas-lista h3{
    position: relative;
}

.seguros-perguntas-lista h3::before{
    display: inline-block;
    content: "";
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    position: absolute;
    left: -16px;
    top: 6px;
    
}

.seguros-perguntas-lista h3:hover::after{
    transform: rotate(180deg);
}

.seguros-perguntas-lista li{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    cursor: pointer;
}
.seguros-perguntas-lista h3::after{
    display: inline-block;
    content: "";
    width: 14px;
    height: 6px;
    background: url(/img/icones/seta-abrir.svg) no-repeat;
    position: absolute;
    right: 100px;
    transition: 0.3s;
    
    
    
}

.seguros-perguntas-lista li:nth-child(odd){
    background-color: var(--cor-1);
    border-radius: 4px;
}

@media(max-width:800px){
    .seguros-perguntas{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .seguros-perguntas-lista h3::after{
        display: inline-block;
        content: "";
        width: 14px;
        height: 6px;
        background: url(/img/icones/seta-abrir.svg) no-repeat;
        position: absolute;
        right: 10px;
        transition: 0.3s;
        
        
        
    }
    

    .perguntas h3{
        margin-bottom: 40px;
    }
}