.termos-introducao-bg{
    background-color: var(--cor-11);
}

.termos-introducao{
    padding-top: 40px;
    padding-bottom: 40px;
}

.termos-conteudo{
    padding-top: 80px;
    padding-bottom: 80px;
}

.termos-conteudo p{
    max-width: 800px;
    margin-bottom: 20px;
}

.termos-conteudo h2{
    margin-bottom: 20px;
    padding-top: 40px;
    font-weight: 600;
}